* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(180deg , rgba(255,255,255,1), rgba(0,0,0,0.3));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main {
    width: 70%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calcBox {
    min-width: 250px;
    width: 300px;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#screen {
    width: 100%;
    height: 15%;
    background-color: gray;
}

.buttons {
    height: 85%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.buttons span {
    border: 1px solid black;
}

#one {grid-area: 4 / 1 / 5 / 2;}
#two {grid-area: 4 / 2 / 5 / 3;}
#three {grid-area: 4 / 3 / 5 / 4;}
#four {grid-area: 3 / 1 / 4 / 2;}
#five {grid-area: 3 / 2 / 4 / 3;}
#six {grid-area: 3 / 3 / 4 / 4;}
#seven {grid-area: 2 / 1 / 3 / 2;}
#eight {grid-area: 2 / 2 / 3 / 3;}
#nine {grid-area: 2 / 3 / 3 / 4;}
#zero {grid-area: 5 / 2 / 6 / 3;}
#point { grid-area: 5 / 1 / 6 / 2; }
#enter { grid-area: 5 / 4 / 6 / 6; }
#plus { grid-area: 4 / 4 / 5 / 5; }
#minus { grid-area: 4 / 5 / 5 / 6; }
#multiple { grid-area: 3 / 4 / 4 / 5; }
#divide { grid-area: 3 / 5 / 4 / 6; }



